<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Category</title>
</head>
<body>
<a href="/category/list">Back to list</a>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>

<h1>Create Category</h1>
<form th:action="@{/category/create}" th:object="${category}" method="post">
    <table>
        <tr>
            <td>Category Name</td>
            <td><input type="text" th:field="*{categoryName}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create Category"></td>
        </tr>
    </table>
</form>
</body>
</html>