<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Category</title>
</head>
<body>
<a href="/blog/list">Back to list</a>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/category/delete}" th:object="${category}" method="post">
    <input th:type="hidden" name="id" th:field="*{categoryId}">
    <table>
        <tr>
            <td>Category Name</td>
            <td><input th:field="*{categoryName}" readonly></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete Category"></td>
        </tr>
    </table>
</form>
</body>
</html>