<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Categories</title>
</head>
<body>
<a href="/category/create">Create new Category</a>
    <table border="1">
        <tr>
            <th>Category Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <th:block th:each="category:${categories}">
            <tr>
                <td><p th:text="${category.categoryName}"></p></td>
                <td><a th:href="@{/category/edit/__${category.categoryId}__}">Edit</a></td>
                <td><a th:href="@{/category/delete/__${category.categoryId}__}">Delete</a></td>
            </tr>
        </th:block>
    </table>
</body>
</html>