<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head th:replace="home.html">-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Delete customer</title>-->
<!--</head>-->
<!--<body>-->
<!--<center>-->
<!--    <h1 style="color: blue">Delete customer</h1>-->
<!--    <form th:action="@{/delete-customer}" th:object="${customers}" method="post">-->
<!--        <input th:type="hidden" name="id" th:field="*{id}">-->
<!--        <table>-->
<!--            <tr>-->
<!--                <td> Name:</td>-->
<!--                <td><input class="bottom-nav"  type="text" th:field="*{name}"/></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Address:</td>-->
<!--                <td><input type="text" th:field="*{address}"/></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Birthday:</td>-->
<!--                <td><input type="date" th:field="*{birthday}"/></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Gender:</td>-->
<!--                <td><input type="text" th:field="*{gender}"/></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Id_card:</td>-->
<!--                <td><input type="text" th:field="*{id_card}"/></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Phone:</td>-->
<!--                <td><input type="text" th:field="*{phone}"/></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Email:</td>-->
<!--                <td><input type="text" th:field="*{email}"/></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Name CustomerType</td>-->
<!--                <td><select th:field="*{customerType}">//${customer.province}-->
<!--                    <option th:each="customerType:${customerTypes}" th:text="${customerType.name}" th:value="${customerType.id}"></option>-->
<!--                </select>-->
<!--                </td>-->

<!--            </tr>-->
<!--            <tr>-->
<!--                <td></td>-->
<!--                <td><input  type="submit"  value="Delete customer" class="btn btn-success"></td>-->
<!--            </tr>-->
<!--        </table>-->

<!--    </form>-->
<!--</center>-->
<!--</body>-->

<!--</html>-->

<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="home.html">
    <meta charset="UTF-8">
    <title>Delete customer</title>
</head>
<body>
<h1>Delete customer</h1>
<h2>Are you sure?</h2>
<p>
    <a href="/customer">Customer list</a>
</p>
<form th:action="@{/delete}" th:object="${customers}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td> Name:</td>
            <td><input class="bottom-nav"  type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Address:</td>
            <td><input type="text" th:field="*{address}"/></td>
        </tr>
        <tr>
            <td>Birthday:</td>
            <td><input type="date" th:field="*{birthday}"/></td>
        </tr>
        <tr>
            <td>Gender:</td>
            <td><input type="text" th:field="*{gender}"/></td>>
        </tr>
        <tr>
            <td>Id_card:</td>
            <td><input type="text" th:field="*{id_card}"/></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="text" th:field="*{email}"/></td>
        </tr>
        <tr>
            <td>Phone:</td>
            <td><input type="text" th:field="*{phone}"/></td>
        </tr>
        <tr>
            <td>Name CustomerType</td>
            <td><select th:field="*{customerType}">//${customer.province}
                <option th:each="customerType:${customerTypes}" th:text="${customerType.name}" th:value="${customerType.id}"></option>
            </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input  type="submit"  value="Delete customer" class="btn btn-danger" ></td>
        </tr>
    </table>
</form>
</body>
</html>