<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Blog</title>
</head>
<body>
<a href="/blog/list">Back to list</a>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/blog/delete}" th:object="${blog}" method="post">
    <input th:type="hidden" name="id" th:field="*{blogId}">
    <table>
        <tr>
            <td>Blog Title</td>
            <td><input th:field="*{title}" readonly></td>
        </tr>
        <tr>
            <td>Blog Content</td>
            <td><input th:field="*{content}" readonly></td>
        </tr>
        <tr>
            <td>Blog Author</td>
            <td><input th:field="*{author}" readonly></td>
        </tr>
        <tr>
            <td>Blog Created Date</td>
            <td><input th:field="*{date}" readonly></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete Blog"></td>
        </tr>
    </table>
</form>
</body>
</html>