body{
    font-family: sans-serif;
    line-height: 1.6;
}
a{
    color: #0645AD;
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}

p{
    text-indent: 50px;
}

.title{
    margin-bottom: 0.25em;
    font-family: "Linux Libertine","Palatino Linotype","EB Garamond","Times New Roman","Times",serif;
    font-size: 1.8em;
}
.sub-title{
    color: #202122;
    font-size: 92%;
    margin-top: 0.25em;
}

.content{
    margin: 10px 70px 10px 10px;
}