
table, th, td{
    border:1px solid #868585;
}
table{
    border-collapse:collapse;
    width:600px;
}
a{
    text-decoration: none;
}
th, td{
    text-align:left;
    padding:10px;
}
table tr:nth-child(odd){
    background-color:#eee;
}
table tr:nth-child(even){
    background-color:white;
}
table tr:nth-child(1){
    background-color:skyblue;
}